.home-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--p-100);
    padding: 15px;
}


@media screen and (max-width: 425px) {
    .home-box > .title {
        font-size: 1.2rem;
    }

    .home-box > .description {
        font-size: 0.9rem;
    }
}